.contenedor{
  margin: 20px;
  padding: 15px;
  padding-left: 20px;
  border-radius: 8px;
  border: 2px dotted darkred;
  font-style: italic;
}
.but{
  border-radius: 8px;
  border: 1px dotted darkred;
}
  